# logs
*.log

# Compiled python
*.pyc

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# data file
*.npy
*.zip
*.tif
*lmdb
*leveldb
*.hdf5
*_label.nrrd

#matlab
.mat
.save

#compressed files
.tar.gz

# pycharm
.idea